<h1>Qantas Hotel Listing</h1>
<p>Code Challenge using .NET Core 2.1 & Angular 5.2</p>

<h2>Dependencies & frameworks</h2>
<ul>
  <li><a href='https://www.microsoft.com/net/download'>.NET Core 2.1</a></li>
  <li><a href='https://github.com/angular/angular-cli/wiki'>Angular CLI</a></li>
  <li><a href='https://nodejs.org/en/'>Node.js & npm</a></li>
  <li><a href='https://www.npmjs.com/package/jasmine'>Jasmine</a></li>
  <li><a href='http://karma-runner.github.io/3.0/intro/installation.html'>Karma</a></li>
  <li><a href='https://www.newtonsoft.com/json'>Json.NET</a></li>
  <li><a href='https://www.npmjs.com/package/bootstrap'>Bootstrap</a></li>
</ul>
<p>More information available in the Readme.md in the project <a href='https://github.com/apisani/HotelListing'>Github</a></p>